<div class="custom_card">
  <div class="img" [ngStyle]="{'background-image': 'url(' + product.image + ')'}">
    <button (click)="addToCart()" class="default-btn btn-hover">
      <i class="bi bi-cart4"></i> Add to Cart
    </button>
    <button (click)="showDialog()" class="default-btn btn-hover">
      <i class="bi bi-ticket-detailed"></i> View Details
    </button>
  </div>
  <div class="disc">
    <h4>{{product.title}}</h4>
    <p>Price: {{product.price | currency:'Rs. '}}</p>
  </div>
</div>

<p-dialog header="Product Details" [(visible)]="visible" [style]="{width: '95vw' , height:'95vh'} " class="test1">
  <app-product-detail [product]="product"></app-product-detail>
</p-dialog>