<!-- <app-carousel></app-carousel> -->
<div class="banner px-5">
  <div class="grid">
    <div class="col-12 md:col-7 lg:col-7 my_title text-center md:text-left">
      <h1>Today deal sale off <b>70%</b>. Hurry Up!</h1>
      <p>Hurry up the offer is for the limited time only!!</p>
      <button class="default-btn">Explore Now <i class="pi pi-caret-right"></i></button>
    </div>
    <div class="col-12 md:col-5 lg:col-5 d-flex align-items-start pt-4">
      <img src="/assets/images/modals/lady.png" alt="lady" class=" image">
    </div>
  </div>
</div>
<div class="container px-5 mt-4 mb-5 ">
  <!-- Display Category Section -->
  <div class="grid p-2 justify-content-center">
    <div class="lg:col-6 md:col-12">
      <div class="grid ">
        <div class="col-12 md:col-5 p-2">
          <div class="out_box women alignjustifycenter">
            <div class="default-btn-2 btn_shadow">
              Women
            </div>
          </div>
        </div>
        <div class="col-12 md:col-7 p-2 ">
          <div class="out_box">

            <div class="in_box mb-2 shoe">
              <div class="default-btn-2 btn_shadow">
                Shoes
              </div>
            </div>
            <div class="in_box pt-2 bag">
              <div class="default-btn-2 btn_shadow">
                Bags
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:col-6 md:col-12">
      <div class="grid">
        <div class="col-12 md:col-5  p-2">
          <div class="out_box watch alignjustifycenter">
            <div class="default-btn-2 btn_shadow">
              Watch
            </div>
          </div>
        </div>
        <div class="col-12 md:col-7 p-2">
          <div class="out_box men alignjustifycenter">
            <div class="default-btn-2 btn_shadow">
              Man
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Display Category Section Ends  -->

  <div class=" headings p-4">
    <h1>- Trending -</h1>
    <p> <i>
        Top in this week
      </i>
    </p>
    <div class="border-solid border-round-md border-300 p-3 ">
      <div class="grid">
        <app-product-card *ngFor="let product of products" class="md:col-6 lg:col-3 flex justify-content-center"
          [product]="product"></app-product-card>
      </div>
    </div>
  </div>
  <!--  -->
  <div>
  </div>





</div>