<div class="h-screen flex justify-content-center align-items-center">
  <div class="grid w-11 lg:w-7 border-round-lg box-shadow-1">
    <div
      class="col-12 md:col-5 flex flex-column justify-content-center align-items-center md:border-round-left-lg bg-img bg-orange-100">
      <a routerLink="/">
        <img [src]="ASSETS.IMAGES.LOGO" alt="DOKAN" width="100rem">
      </a>
      <p class="text-primary-600 font-bold font-italic text-center mt-2">"Your Ultimate Shopping Destination"</p>
    </div>
    <div class="col-12 md:col-7 bg-white md:border-round-right-lg p-6">
      <p class="font-bold text-3xl">Login</p>
      <p class="text-600 mb-3">Welcome to DOKAN</p>
      <form [formGroup]="loginForm">
        <div class="mb-2">
          <p class="text-700 text-lg mb-1">Email</p>
          <input formControlName="email" pInputText placeholder="Enter your Email" class="w-full" />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <p class="text-red-500">Email is required and should be a valid email address.</p>
          </div>
        </div>
        <div class="mb-4">
          <p class="text-700 text-lg mb-1">Password</p>

          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Enter your Password" formControlName="password"
              [type]="isPasswordVisible ? 'text' : 'password'" />
            <span class="p-inputgroup-addon cursor-pointer" (click)="this.isPasswordVisible = !this.isPasswordVisible">
              <i *ngIf="!isPasswordVisible" class="pi pi-eye"></i>
              <i *ngIf="isPasswordVisible" class="pi pi-eye-slash"></i>
            </span>
          </div>

          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <p class="text-red-500">Password is required and should contain 6 to 20 letters.</p>
          </div>
        </div>
        <div class="mb-4 flex justify-content-start align-items-center gap-3">
          <p-checkbox formControlName="rememberMe" [binary]="true" inputId="ny"></p-checkbox>
          <label for="ny">Remember Me</label>
        </div>
        <button type="submit" pButton pRipple label="Login" (click)="submit()" class="w-full mb-2"></button>
        <div *ngIf="isCredentialFalse">
          <p class="text-red-500 text-center">Invalid login credential.</p>
        </div>
      </form>
      <p class="text-700 text-center">Don't have an account? <a (click)="navigateToRegister()"
          class="font-bold text-gray-700 cursor-pointer hover-color">Register Here</a>
      </p>
    </div>
  </div>
</div>

<!-- response dialog -->
<p-dialog *ngIf="(screenSize$ | async) ==='lg' || (screenSize$ | async) === 'xl'" class="loginResponse"
  [(visible)]="showErrorResponse" [modal]="true" [style]="{width: '30vw'}" [draggable]="false"
  [breakpoints]="{'767px': '100vw'}">
  <div *ngIf="message" class="text-center">
    <img [src]="message.image" alt="Failed" class="w-2 h-2">
    <p class="font-bold text-4xl">{{message.title}}</p>
    <p class="text-xl text-700 mt-1">{{message.description}}</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center p-2">
      <button pButton type="button" styleClass="p-button-sm" label="Okay" class="w-full m-0"
        (click)="closeDialog()"></button>
    </div>
  </ng-template>
</p-dialog>

<p-sidebar *ngIf="(screenSize$ | async) ==='sm' || (screenSize$ | async) === 'md'" [(visible)]="showErrorResponse"
  position="bottom" [style]="{height:'35vh'}" (onHide)="closeDialog()" styleClass="border-round-top">
  <div *ngIf="message" class="text-center">
    <img [src]="message.image" alt="Failed" class="w-2 h-2">
    <p class="font-bold text-4xl">{{message.title}}</p>
    <p class="text-xl text-700 mt-1">{{message.description}}</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center p-2">
      <button pButton type="button" styleClass="p-button-sm" label="Okay" class="w-full m-0"
        (click)="closeDialog()"></button>
    </div>
  </ng-template>
</p-sidebar>
