.object-fit {
  object-fit: contain;
}

.input-custom {
  ::ng-deep .p-inputnumber-buttons-horizontal .p-inputnumber-input {
    width: 3rem !important ;
  }
  ::ng-deep
    .p-inputnumber-buttons-horizontal
    .p-button.p-inputnumber-button-down {
    background-color: var(--primary-600);
  }

  ::ng-deep
    .p-inputnumber-buttons-horizontal
    .p-button.p-inputnumber-button-up {
    background-color: var(--primary-600);
  }
  ::ng-deep .p-button.p-button-success,
  .p-buttonset.p-button-success > .p-button,
  .p-splitbutton.p-button-success > .p-button {
    border: none !important;
  }

  ::ng-deep .p-button.p-button-danger,
  .p-buttonset.p-button-danger > .p-button,
  .p-splitbutton.p-button-danger > .p-button {
    border: none !important;
    width: 3rem;
  }
}
