.customBg {
  background-color: var(--bgPrimaryColor);
}

.customBgWhite {
  background-color: var(--whiteColor);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.customBorder {
  border-color: var(--primaryColor);
}

h3 {
  color: var(--primaryColor);
}

.truncate {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
