<!-- Banner -->
<div class="grid m-0 bg-primary-50 flex align-items-center">
  <div class="col-7 p-0 pb-2 text-right">
    <p class="mt-2 md:mt-0 text-xl md:text-3xl lg:text-4xl text-800 font-bold">Unlock Your Wardrobe's Potential at Dokan
    </p>
    <p class="mt-1 md:mt-3 font-semibold text-xl">Let Your Style Speak Volumes with Our Brands</p>
    <p-button label="Explore" styleClass="mt-3 bg-primary-600 border-primary-600 hover-pop"></p-button>
  </div>
  <div class="col-5 p-0 flex align-items-baseline justify-content-center md:justify-content-start pt-3">
    <img [src]="ASSETS.IMAGES.BANNER_LADY" alt="lady" height="320rem"
      [ngClass]="{'h-16rem':(_deviceWidthService.screenSize$ | async) === 'sm'}">
  </div>
</div>
<!-- Banner Ends -->

<div class="px-3 lg:px-8">
  <!-- New Section -->
  <div class="grid m-0 mt-2">
    <div class="col-12 md:col-4">
      <div class="box-shadow-1 border-round-md p-2 flex">
        <div class="w-3 flex justify-content-center align-items-center">
          <i class="pi pi-truck text-800 text-5xl"></i>
        </div>
        <div class=" w-9">
          <p class="font-bold text-xl text-800">Free Delivery</p>
          <p class="mt-1 text-700">Free delivery worldwide for purchase above $100</p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="box-shadow-1 border-round-md p-2 flex">
        <div class="w-3 flex justify-content-center align-items-center">
          <i class="pi pi-undo text-800 text-4xl"></i>
        </div>
        <div class=" w-9">
          <p class="font-bold text-xl text-800">7 days easy return</p>
          <p class="mt-1 text-700">Return products within 7 days for exchange</p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="box-shadow-1 border-round-md p-2 flex">
        <div class="w-3 flex justify-content-center align-items-center">
          <i class="pi pi-key text-800 text-4xl"></i>
        </div>
        <div class="w-9">
          <p class="font-bold text-xl text-800">Secured Payment</p>
          <p class="mt-1 text-700">We ensure 100% secure payment using SecurePay</p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Display Category Section -->
  <div class="grid m-0 mt-5">
    <div class="col-6 md:col-3 h-16rem md:h-20rem lg:h-28rem p-2">
      <div class="category_box background-property bg-bottom"
        [ngStyle]="{ 'background-image': 'url(' + ASSETS.IMAGES.WOMEN + ')' }">
        <div class="category_name btn_shadow">
          Women
        </div>
      </div>
    </div>
    <div class="col-6 md:col-3 h-16rem md:h-20rem lg:h-28rem p-2 flex flex-column justify-content-between">
      <div class="category_box h-7rem md:h-9rem lg:h-13rem background-property"
        [ngStyle]="{ 'background-image': 'url(' + ASSETS.IMAGES.SHOES + ')' }">
        <div class="category_name btn_shadow">
          Shoes
        </div>
      </div>
      <div class="category_box h-7rem md:h-9rem lg:h-13rem background-property"
        [ngStyle]="{ 'background-image': 'url(' + ASSETS.IMAGES.BAGS + ')' }">
        <div class="category_name btn_shadow">
          Bags
        </div>
      </div>
    </div>
    <div class="col-6 md:col-3 h-16rem md:h-20rem lg:h-28rem ">
      <div class="category_box background-property bg-center"
        [ngStyle]="{ 'background-image': 'url(' + ASSETS.IMAGES.WATCHES + ')' }">
        <div class="category_name btn_shadow">
          Watches
        </div>
      </div>
    </div>
    <div class="col-6 md:col-3 h-16rem md:h-20rem lg:h-28rem">
      <div class="category_box background-property"
        [ngStyle]="{ 'background-image': 'url(' + ASSETS.IMAGES.MEN + ')' }">
        <div class="category_name btn_shadow">
          Men
        </div>
      </div>
    </div>
  </div>
  <!-- Display Category Section Ends  -->

  <!-- product section -->
  <div class="mb-5">
    <p class="text-center text-2xl font-bold mt-5">Top sells</p>
    <ng-container *ngIf="pageState$ | async as currentState">
      <ng-container [ngSwitch]="currentState">
        <ng-container *ngSwitchCase="ePageState.LOADING">
          <app-loading-list></app-loading-list>
        </ng-container>
        <ng-container *ngSwitchCase="ePageState.SUCCESS">
          <app-list-products [products]="apiData"></app-list-products>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>