<div class="px-3 lg:px-8 pt-7 pb-3 bg-primary-800">
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-5 ">
      <div class="flex align-items-center gap-3">
        <a routerLink="/" class="logo">
          <img [src]="ASSETS.IMAGES.LOGO" width="100px" alt="logo">
        </a>
        <p class="text-3xl text-primary-100 font-bold">Shop Now, Shop Happiness</p>
      </div>
      <p class="text-primary-100">Shop Now is an internationally recognized online shopping where you can find all the
        essential goods with
        best quality and best cost.
        we have been serving the world in online shopping since 2010.
      </p>
      <p class="mt-4 text-primary-100 text-xl font-semibold">Find Us On</p>
      <div class="flex gap-3 mt-2">
        <a class="p-2 bg-primary-700 border-circle flex align-items-center" href="https://www.facebook.com/"
          target="_blank">
          <i class="pi pi-facebook text-3xl hover-color"></i> </a>
        <a class="p-2 bg-primary-700 border-circle flex align-items-center" href="https://www.twitter.com/"
          target="_blank">
          <i class="pi pi-twitter text-3xl hover-color"></i> </a>
        <a class="p-2 bg-primary-700 border-circle flex align-items-center" href="https://www.instagram.com/"
          target="_blank">
          <i class="pi pi-instagram text-3xl hover-color"></i> </a>
        <a class="p-2 bg-primary-700 border-circle flex align-items-center" href="https://www.linkedin.com/"
          target="_blank">
          <i class="pi pi-linkedin text-3xl hover-color"></i> </a>
        <a class="p-2 bg-primary-700 border-circle flex align-items-center" href="https://www.whatsapp.com/"
          target="_blank">
          <i class="pi pi-whatsapp text-3xl hover-color"></i> </a>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-2">
      <p class="text-3xl font-semibold text-primary-100">Company</p>
      <div class="flex flex-column mt-2">
        <a routerLink="about" class="hover-color">About us</a>
        <a routerLink="meet-our-team" class="mt-2 hover-color">Meet Our Team</a>
        <a routerLink="terms-conditions" class="mt-2 hover-color">Terms & Conditions</a>
        <a routerLink="privacy-policy" class="mt-2 hover-color">Privacy policy</a>
        <a routerLink="contact-us" class="mt-2 hover-color">Contact Us</a>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-2">
      <p class="text-3xl font-semibold text-primary-100">Categories</p>
      <div class="flex flex-column mt-2">
        <a routerLink="/categories" class="hover-color">Mens</a>
        <a routerLink="/categories" class="mt-2 hover-color">Womens</a>
        <a routerLink="/categories" class="mt-2 hover-color">Bags</a>
        <a routerLink="/categories" class="mt-2 hover-color">Watches</a>
        <a routerLink="/categories" class="mt-2 hover-color">Denim</a>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
      <p class="text-3xl font-semibold text-primary-100">Contact Us</p>
      <div class="flex flex-column mt-2">
        <div class="flex gap-1 align-items-center">
          <i class="pi pi-map-marker"></i>
          <span> Address:</span>
          <span>Itahari-2, Nepal</span>
        </div>
        <div class="mt-2 flex gap-1 align-items-center">
          <i class="pi pi-phone"></i>
          <span> Phone:</span>
          <a href="tel:+9779862221435">+977 9862221435</a>
        </div>
        <div class="mt-2 flex gap-1 align-items-center">
          <i class="pi pi-envelope"></i>
          <span> Email:</span>
          <a href="mailto:jeewan@jeewansharma.com">jeewan&#64;gmail.com</a>
        </div>
        <div class="mt-2 flex gap-1 align-items-center">
          <i class="pi pi-print"></i>
          <span> Fax:</span>
          <a href="tel:+9779862221435">+977 9862221435</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center bg-primary-600 py-2 px-3 lg:px-8">
  <p class="text-primary-100">© <span class="font-bold">Dokan</span> is Proudly Owned by <a class="font-bold"
      href="https://jeewansharma.com/" target="_blank">Jeewan
      Sharma</a></p>
</div>