<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a routerLink="/home">

        <img src="/assets/images/logo/logo_shop.png" height="60" class="mr-2" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <a routerLink="cart" class="pr-5 ">
        <span class="pi pi-shopping-cart text-2xl cursor-pointer"></span>
      </a>
      <a class="pr-5 ">
        <span class="pi pi-heart text-2xl cursor-pointer"></span>
      </a>
    </ng-template>
  </p-menubar>
</div>