<div class="grid m-0">
  <div class="col-12 lg:col-6 flex justify-content-center">
    <img [src]="product.image" alt="Product Image" class="text-center"
      [ngClass]="(_deviceWidthService.screenSize$ | async) === 'sm'?'h-15rem':'h-20rem'">
  </div>
  <div class="col-12 lg:col-6">
    <p class="text-xl text-800 font-bold">Category: {{product.category}}</p>
    <div class="flex gap-3 align-items-center mt-3">
      <p class=" text-xl text-800 font-bold">Average Ratings : {{product.rating.rate}}</p>
      <div class="my-rating">
        <p-rating [(ngModel)]="product.rating.rate" [readonly]="true" [cancel]="false"></p-rating>
      </div>
    </div>
    <p class="text-xl text-800 font-bold mt-3">Availability: <span class="text-xl text-green-400">In Stock</span></p>
    <p class="font-semibold text-lg text-700 mt-3">{{product.description}} </p>
  </div>
</div>