<app-announcement></app-announcement>
<app-header (onCartClicked)="showCart()"></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-loader></app-loader>
<app-toast></app-toast>

<!-- cart -->
<p-dialog *ngIf="(screenSize$ | async) === 'lg' || (screenSize$ | async) === 'xl'" [modal]='true'
  [(visible)]="cartVisibility" [style]="{width: '95vw', height:'100vh'}">
  <ng-template pTemplate="header">
    <div class="flex gap-2 align-items-center">
      <p class="text-3xl font-bold">Cart</p>
      <i class="pi pi-shopping-cart text-3xl"></i>
    </div>
  </ng-template>
  <app-cart *ngIf="cartVisibility"></app-cart>
  <ng-template pTemplate="footer">
    <div class="grid">
      <div class="col-12 lg:col-8">
        <div class="flex justify-content-between border-1 border-round border-400 p-1 px-2">
          <p class="text-xl text-800 font-bold">Total Items</p>
          <p class="text-2xl text-800 font-bold">{{(_cartService.totalItems$| async)}}</p>
        </div>
      </div>
      <div class="col-12 lg:col-4">
        <button [disabled]="(_cartService.cartProducts$ | async)?.length === 0" (click)="proceedToCheckout()" pButton
          pRipple label="Proceed to Checkout" class="w-full"></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-sidebar header="Cart" *ngIf="(screenSize$ | async) === 'sm' || (screenSize$ | async) === 'md'"
  [(visible)]="cartVisibility" position="bottom" [style]="{height:'90vh'}" styleClass="border-round-top">
  <ng-template pTemplate="header">
    <div class="px-2 pb-2">
      <div class="flex gap-2 align-items-center">
        <p class="text-3xl font-bold">Cart</p>
        <i class="pi pi-shopping-cart text-3xl"></i>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <app-cart *ngIf="cartVisibility"></app-cart>
  </ng-template>
  <ng-template pTemplate="footer">
    <button [disabled]="(_cartService.cartProducts$ | async)?.length === 0" (click)="proceedToCheckout()" pButton
      pRipple label="Proceed to Checkout" class="w-full mt-3"></button>
  </ng-template>
</p-sidebar>
