.container {
  background-color: var(--primaryColor2);

  .single-footer-widget {
    h3 {
      color: var(--whiteColor);
    }
    p {
      color: #b9baca;
    }
    .social-link {
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          border-radius: 50px;
          display: inline-block;
          color: var(--whiteColor);
          background-color: rgba(104, 105, 125, 0.3);

          &:hover {
            background-color: var(--primaryColor);
            transform: translateY(-2px);
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .use-link {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        margin-bottom: 15px;

        a {
          color: #b9baca;

          &:hover {
            color: var(--primaryColor);
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .address-link {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        color: #b9baca;
        position: relative;
        margin-bottom: 15px;

        span {
          color: var(--whiteColor);
        }
        a {
          color: #b9baca;
          margin-left: 2px;

          &:hover {
            color: var(--primaryColor);
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.copyright-area {
  border-top: 1px solid rgba(104, 105, 125, 0.3);
  p {
    color: #b9baca;

    a {
      color: var(--whiteColor);
    }
    span {
      color: var(--whiteColor);
    }
  }
}
