.customBg {
  background-color: var(--bgPrimaryColor);
}
.customBgWhite {
  background-color: var(--whiteColor);
}
.container {
  height: 800px;
}

.truncate {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
