<div class="px-3 lg:px-6 py-3 customBg">
  <h2 class="text-center">
    <span class="pi pi-shopping-bag text-2xl cursor-pointer"></span>
    My Cart
  </h2>
  <!-- <div class="card"> -->
  <p-table [value]="products" [tableStyle]="{'min-width': '60vw'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>

        <td>{{product.title}}</td>
        <td><img [src]="product.image" [alt]="product.name" width="50" class="shadow-4 border-round" /></td>
        <td>{{product.price | currency:'Rs. '}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price * product.quantity | currency:'Rs. '}}</td>
        <td><button (click)="removeFromCart(product)" class="delete-btn">Delete</button></td>
      </tr>
    </ng-template>
  </p-table>
  <!-- </div> -->

  <div *ngIf="products.length <= 0">
    <h1 (click)="navigateToHome()" class="text-center text-pink-600 cursor-pointer"> No products Here Add From Home</h1>
  </div>
  <div class="grid">
    <div class="col-3 lg:col-8"></div>

    <div class="col-9 lg:col-4 flex flex-column text-left px-6 mt-3 border-1 border-round-lg customBgWhite">
      <p><b>Sub Total :</b> {{sum.toFixed(2)}}</p>
      <p><b>TAX (20%) :</b> {{(sum*20/100).toFixed(2)}}</p>
      <p><b>Grand Total :</b> {{(sum + sum*20/100).toFixed(2)}}</p>
    </div>
  </div>
  <div class="flex justify-content-end mt-3 ">
    <div>
      <button routerLink="check-out" class="default-btn"> Proceed to Checkout </button>
    </div>
  </div>
</div>